.App {
  text-align: center;
}

.Content {
  display: flex;

  border: 3px solid red;
  min-height: 80vh;
  width: 100vw;
}

.left-bar {
  border: 3px solid black;
  width: 30vw;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 3px solid black;
  width: 40vw;
}


.center-card-content {
  border: 3px solid black;
  width: 35vw;
  height: 20vh;
}

.center-card-content img {
  width: 40px;
  height: 40px;
}

.card-header {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 3px solid black;
  height: 30%;
}

.card-header img,
span {
  padding-left: 2%;
}

.card-body {
  border: 3px solid black;
  height: 60%;
  overflow-wrap: break-word;
}

.right-bar {
  border: 3px solid black;
  width: 30vw;
}